COMPILER/**/*.pyc
COMPILER/.idea/*
COMPILER/venv/*

CONVERT_SERVICE/venv/*
CONVERT_SERVICE/.idea
CONVERT_SERVICE/**/*.pyc
__pycache__
CONVERT_SERVICE/convert_service/server.bat
CONVERT_SERVICE/convert_service/images
CONVERT_SERVICE/convert_service/media
CONVERT_SERVICE/convert_service/convert_image/assets/*.jpg
CONVERT_SERVICE/convert_service/convert_image/assets/*.png
CONVERT_SERVICE/convert_service/convert_image/result/*.jpg
CONVERT_SERVICE/convert_service/convert_image/result/*.png

